.about-us-container {
  max-width: 800px;
  margin: 5rem auto;
  padding: 20px;
  color: #f5f5f5;
}

.about-us-container h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.about-us-container p {
  font-size: 1.1em;
  line-height: 1.5;
  margin-bottom: 15px;
}

.team-member {
  text-align: center;
  margin-bottom: 30px;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial {
  margin-bottom: 30px;
}

.testimonial p {
  font-style: italic;
}

.testimonial cite {
  font-weight: bold;
}

.mission-section {
  background-color: #f5f5f5;
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin-top: 50px;
}
