body {
  background-color: black;
}

* {
  font-family: "Jersey 15";
}

::-webkit-scrollbar {
  width: 4px;

}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: gray;
}